<launch>

	<node pkg="px4_gimbal_ctrl" type="px4_gimbal_ctrl_node" name="gimbal_ctrl" output="screen">
        <!-- desired gimbal target -->
        <param name="mag" type="double" value="0" />
        <param name="type" type="string" value="fixed"/>
        <!-- servo angular speed, deg per second -->
        <param name="rate" type="double" value="50"/>
        <param name="bias" type="double" value="0"/>
        <!-- limit gimbal range from 0 deg to range -->
        <param name="range" type="double" value="45.0" />
	</node> 
</launch>